@import "tailwindcss";

:root {
  
  font-family: system-ui, Avenir, Helvetica, Arial, "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

.gradient-bg-welcome {
  background-color:#023342;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, rgb(107, 167, 73) 0, transparent 50%), 
    radial-gradient(at 100% 0%, rgb(39, 109, 114) 0, transparent 50%);
}

.gradient-bg-login {
  background-color:#023342;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, rgb(107, 167, 73) 0, transparent 50%), 
    radial-gradient(at 100% 0%, rgb(39, 109, 114) 0, transparent 50%);
}

.gradient-bg-transactions {
  background-color: #023342;
}

.gradient-bg-campaign {
  background-color: #023342;
  background: linear-gradient(
    130deg,
    rgb(39, 109, 114) 0%,
    rgb(39, 109, 114) 70%,
    rgb(107, 167,  73) 85%,
    hsla(253,16%,7%,1) 100%
  );
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.gradient-bg-footer {
  background-color: #023342;
  background-image: 
  radial-gradient(at 50% 100%, rgb(107, 167, 73) 0, transparent 50%), 
  radial-gradient(at 50% 100%, rgb(39, 109, 114) 0, transparent 50%);
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
